/*  16px = 1 rem
    24px = 1.5 rem
    30px = 1.875rem
    48px = 3 rem
    85px = 5.313 rem */

html, body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
    background-color: #E5E4E2;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* -- HEADER -- */

header {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    background-color: #ffffff;
}

header .logo {
    font-family: "Roboto-Mono", sans-serif;
    font-size: 1.5rem;
    left: 1.875rem; /* 30px */
    position: fixed;
}

header .icon {
    width: 1rem; 
    padding-left: 0.5rem;
}

header a {
    text-decoration: none;
}

a:active, a:visited, a:link {
    color: #4a4a4a;
}

nav ul {
    display: flex;
    justify-content: space-between; 
    margin-left: auto; 
    padding: 0;
}

nav ul li {
    list-style-type: none;
    text-align: right;
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

/* Join Us navbar button */
.mobile .button {
    display: inline;
    position: relative; 
    background-color: #95c20b;
    color: white;
    border-radius: 0.25rem;
    padding: 0.1875rem 0.5rem;
}

.desktop {
    display: block;
}


/* desktop viewport */
@media only screen and (min-width: 1024px) {
    header .content {
        height: 5.313rem;
    }

    nav ul li {
        margin: 1.875rem; 
    }
    
    .mobile {
        display: none;
    }
    
    .main-content {        
        top: 5.313rem;
    }
}

/* tablet viewport */
@media only screen and (max-width: 1023px) and (min-width: 621px) {
    header .content {
        height: 4rem;
    }
    
    .mobile ul li:not(:last-child) {
        display: none;
    } 
    /* hides everything in .mobile except last element */

    .main-content {        
        top: 4rem;
    }
}

/* mobile viewport */
@media only screen and (max-width: 620px) {
    .desktop {
        display: none;
    }

    header .content {
        height: 3rem; /* 48px */
        display: flex;
        justify-content: left;
    }

    .mobile {
        width: 100%; 
        display: block;
        justify-content: space-between;
    }

    .main-content {
        top: 3rem; /* 48px */
    }
}


/* -- MAIN CONTENT -- */

.main-content {
    position: relative;
}

.center {
    text-align: center;
    justify-items: center;
}




/* --- SIGN UP SECTION --- */

#sign-up-section {
    display: flex;
    position: relative;
    height: 43.75rem; /* 700px */
    width: 100%;
    background-image: url("../images/banner-landingpage.jpg");
    background-position: center;
    background-size: cover;
}

#sign-up-cta {
    position: relative;
    left: 6.25rem; /* 100px */
    top: 10.625rem; /* 170px */
    bottom: 10.625rem; /* 170px */
    justify-items: center;
}

#sign-up-cta .content {        
    color:#ffffff;
    background-color: #9DC20a;
    border: 0.125rem solid #979797; /* 1px */
    border-radius: 0.25rem; /* 4px */    
    /* padding: 2rem 0 3.5rem 0; 32px 0 56px 0 */
}

#sign-up-cta .header {
    display: block;
    font-weight: 400;
    line-height: 1.4;
}

#sign-up-cta .cursive {
    margin: 2rem 0 0 0; /* top 32px */
    font-family: "Damion", sans-serif;	
    font-size: 2.5rem; /* 40px */
    font-weight: 400;
}

#sign-up-cta .striking {
    margin: 0;
    font-size: 3.125rem; /* 50px */
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

#sign-up-cta .email {    
    display: block;
    line-height: 1.4;
    width: 25.5rem; /* 408px*/
    margin: 0.75rem 5rem 3.5rem 5rem; /* 12px 80px 56px 80px */
    
}
#sign-up-cta span {
    font-size: 1.25rem; /* 20px*/ 
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

#sign-up-cta .button {
    font-size: 1.25rem; /* 20px */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 1.625rem; /* 26px */
    height: 4rem; /* 64px */
    width: 25.5rem; /* 408px */
    background-color: #4a4a4a;
    border-radius: 0.25rem; /* 4px */
    align-content: center;
}


/* tablet viewport  (Sign up sect.) */
@media only screen and (max-width: 1023px) and (min-width: 621px) {
    #sign-up-section {
        height: 30rem; /* 480px */
        justify-content: center;
    }

    #sign-up-cta {
        left:0;
        top: 0;
        align-content: center;
    }

    #sign-up-cta .content{
        background-color: transparent;
        border: none;
        margin: 0;
        font-size: 80%;
    }
    #sign-up-cta .email {
        display: none;
    }
}

/* mobile viewport  (Sign up sect.) */
@media only screen and (max-width: 620px) {
    #sign-up-section {
        height: 20rem; /* 320px */
        background-position: right;
        justify-content: center;
    }

    #sign-up-cta {
        left:0;
        top: 0;
        align-content: center;
    }

    #sign-up-cta .content{
        background-color: transparent;
        border: none;
        margin: 0;
        font-size: 80%;
    }
    #sign-up-cta .cursive {
        margin: 0;
        font-size: 2rem;
    }

    #sign-up-cta .striking {
        font-size: 2rem;
    }

    #sign-up-cta .email {
        display: none;
    }
}



/* -- FEATURES SECTION -- */

#features-section {
    display: flex;
    padding: 4rem 3rem 2.875rem 3rem;
    justify-content: center;
    gap: 2.375rem; /* 38px */
}

/* image and text box */
#features-section .feature {
    background-color: #ffffff;
    height: 39.688rem; /* 635px */
    width: 40rem; /* 640px */    
}

/* image */
#features-section .image-container {
    height: 65%;
    width: 90%;
    margin: 2rem 2rem 0 2rem;
}

#features-section img {
    width: 100%;
    height: auto;
}

/* text */
#features-section .content {
    height: 11.688rem; /* 187px */
    color: #4A4a4a;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    padding: 2.5rem;
}

#features-section h2 {
    font-size: 2.25rem; /* 36px */    
    font-weight: 800;
    margin: 0;
}

#features-section h3 {
    font-size: 1rem; 
    font-weight: 200;
}

/* tablet viewport  (Features sect.) */
@media only screen and (max-width: 1023px) and (min-width: 621px) {
    #features-section {
        display: flex;
        padding: 2rem 1.5rem;
        gap: 1.5rem; 
    }
    #features-section .feature {
        height: 33rem;
        width: 100%;   
    }

    /* image */
    #features-section .image-container {
        margin: 1.5rem 1.5rem 0 1.5rem;
    }

    #features-section img {
        min-width: 18rem;
        min-height: 18rem;        
        object-fit: cover;
    }

    /* text */
    #features-section .content {
        height: 6rem; 
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
        text-align: left;
    }

    #features-section h2 {
        font-size: 1.5rem;
        font-weight: 800;
        padding-right: 5rem;
    }
}

/* mobile viewport  (Features sect.) */
@media only screen and (max-width: 620px) {
    #features-section {
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
    }

    #features-section .feature {
        max-height: 25rem;
        max-width: 25rem;
    }

    #features-section .image-container {
        margin: 1rem 1rem 0 1rem;
    }

    #features-section img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
    }

    #features-section .content {
        padding: 1.875rem 1.5rem;/* 30px */
    }

    #features-section h2 {
        font-size: 1.125rem;
        line-height: 1.3;  
        font-weight: 500;
        margin: 0;
    }

    #features-section h3 {
        font-size: 0.875rem; /* 14px */
        line-height: 1.4;
    }    
}



/* -- FILTERS SECTION -- */

#filters-section {
    background-color: #4a4a4a;
    padding: 4rem 1%;
    height:auto;
}

/* text section */
#filters-section .content {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5rem;
}

/* inside contents is h2, h3 */
#filters-section h2 {
    opacity: 1;
    font-size: 2.25rem;
    font-weight: 800;
}

#filters-section h3 {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4;
}

/* image section */
#filters-section .images-container {
    display: flex;
    max-width: 100%;
}

/* each image in .images-container*/
#filters-section .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin: 0;
}

#filters-section img {
    width: 100%;
    height: auto;
    display: block;
}


/* tablet viewport  (Filters sect.) */
@media only screen and (max-width: 1023px) and (min-width: 621px) {
    #filters-section {
        padding: 4rem 0 0 0;
    }
}

/* mobile viewport  (Filters sect.) */
@media only screen and (max-width: 620px) {
    #filters-section {
        padding: 2rem 0 0 0;
    }

    #filters-section h2 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    #filters-section .content {
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
  #filters-section .extra {
    display: none;
  }
}

/* -- QUOTES SECTION -- */
#quotes-section {
    padding: 5rem 3rem;
}

#quotes-section .content{
    display: flex;
    justify-content: center;
}

#quotes-section .quote{
    color: #4A4a4a;
    font-size: 1.875rem; /* 30px */
    font-family: "Palatino", serif;
    font-style: italic;
    line-height: 1.1;
}

#quotes-section .quote-citation {
    padding-left: 1.875rem;
    align-self: center;
}

/* tablet viewport  (Quotes sect.) */
@media only screen and (max-width: 1023px) and (min-width: 621px) {
    #quotes-section .content{ 
        text-align: left;
    }
}

/* mobile viewport  (Quotes sect.) */
@media only screen and (max-width: 620px) {
    #quotes-section {
        padding: 2.5rem 1.5rem;    
    }
    
    #quotes-section .content{
        display: grid;
    }

    #quotes-section .quote{
        font-size: 1.5rem; /* 24px */
        font-family: "Palatino", serif;
        line-height: 1.4;
    }

    #quotes-section .quote-citation {
        padding: 1.875rem;
        align-self: center;
    }
    
}

/* -- FOOTER -- */




/* tablet viewport  (Footer sect.) */
@media only screen and (max-width: 1023px) and (min-width: 621px) {

}

/* mobile viewport  (Footer sect.) */
@media only screen and (max-width: 620px) {
  
}