/*  16px = 1 rem
    24px = 1.5 rem
    30px = 1.875 rem
    48px = 3 rem
    85px = 5.313 rem */

html, body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* header */

header {
    position: fixed; 
    width: 100%;
    z-index: 100;
    background-color: antiquewhite;
}

header .content {
    display: flex;
    align-items: center;
}

header .logo {
    font-family: "Roboto-Mono", sans-serif;
    font-size: 1.5rem;
    padding: 1.875rem;
}

header .icon {
    width: 1rem;
    
}

header a {
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    /*  margin-right: 1.875rem; 30px */
    text-align: right;
    padding: 1.875rem;
}



/* desktop and tablet viewport */
@media only screen and (min-width: 601px) {

}


/* desktop and tablet viewport */
@media only screen and (max-width: 600px) {
    /* header {
        background-color: greenyellow;
    } */
}